@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

/* #VARIABLES */

:root {
  /*- primary colors */
  --primary-1: #d5eff1;
  --primary-2: #abdfe3;
  --primary-3: #80ced6;
  --primary-4: #56bec8;
  --primary-5: #2caeba;
  --primary-6: #238b95;
  --primary-7: #1a6870;
  --primary-8: #12464a;
  --primary-9: #092325;
  /*- grey colors */
  --grey-1: #f9fafb;
  --grey-2: #f3f4f6;
  --grey-3: #e5e7eb;
  --grey-4: #d1d5db;
  --grey-5: #9ca3af;
  --grey-6: #6b7280;
  --grey-7: #4b5563;
  --grey-8: #374151;
  --grey-9: #1f2937;
  /*- other colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --grey-light: #bdbcbc;

  /*- set colors  */
  --backgroundColor: var(--grey-1);
  --textColor: var(--grey-9);

  /*- fonts */
  --headingFont: 'Poppins', sans-serif;
  --bodyFont: 'Poppins', sans-serif;
  --smallText: 0.8em;

  /*- dimensions */
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --maxWidth: 1170px;
  --fixedWidth: 600px;

  /*- transitions  */
  --transition: all 0.3s linear;
  --transitionLong: all 1s ease-in-out;

  /*- shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* #GLOBAL STYLES */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--backgroundColor);
  color: var(--textColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
}

p {
  margin-bottom: 1.25rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* #GLOBAL CLASSES */

/*- images */

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/*- buttons */

.btn {
  display: inline-block;
  cursor: pointer;
  background: var(--primary-5);
  color: var(--white);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.4rem 0.8rem;
  box-shadow: var(--shadow-1);
  text-transform: capitalize;
  transition: var(--transition);
}
.btn:hover {
  background: var(--primary-6);
  box-shadow: var(--shadow-3);
}
.btn-block {
  width: 100%;
  padding: 0.6rem 1rem;
  text-transform: uppercase;
}

/*- alerts */

.alert {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
  text-align: center;
}
.alert-danger {
  background: var(--red-light);
  color: var(--red-dark);
}
.alert-success {
  background: var(--green-light);
  color: var(--green-dark);
}

/*- forms */

.form {
  max-width: var(--fixedWidth);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 1rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--grey-2);
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
}
.form-row {
  margin-bottom: 1rem;
}
.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-5);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

/* -loading  */

.loading {
  margin: 0 auto;
  width: 5rem;
  height: 5rem;
  border: 4px solid var(--grey-4);
  border-radius: 50%;
  border-top-color: var(--primary-5);
  animation: loading 0.75s linear infinite;
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

/* -title */

.title {
  text-align: center;
}
.title-underline {
  background: var(--primary-5);
  width: 7rem;
  height: 0.25rem;
  margin: -1rem auto 0;
  transition: var(--transitionLong);
}
.title:hover .title-underline {
  width: 11rem;
  background: var(--primary-6);
}

.section {
  padding: 4rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--maxWidth);
}

.page {
  min-height: calc(100vh - 60px);
}

@media (min-width: 792px) {
  .section {
    padding: 5rem 0;
  }
  .section-center {
    width: 95vw;
  }
}

/* #CUSTOM STYLES */

main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  padding: 1rem;
}

/* 
=====================
FOOTER
=====================
*/

footer {
  color: #fff;
  background: #111;
  text-align: center;
  width: 100%;
  padding: 1rem;
  letter-spacing: 2px;
  text-align: center;
}

footer h5 {
  margin-bottom: 0;
}

footer a {
  text-decoration: none;
}

footer .link:hover,
footer .icon i:hover {
  color: #fff;
}

footer .link {
  color: #489fb5;
  transition: 0.3s all linear;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 0.5rem;
  border-right: 3px solid #fff;
  margin-right: 1rem;
}
footer .icon {
  font-size: 1.75rem;
  vertical-align: middle;
  transition: 0.3s all linear;
  line-height: 1;
}

#twitter {
  color: #00a7e7;
}
#instagram {
  color: #ea6960;
}
#linkedin {
  color: #0073b1;
}

/* NAVBAR */
nav {
  padding: 0.75rem 0;
  background-color: var(--primary-6);
}

.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (min-width: 550px) {
  .nav-center {
    justify-content: space-between;
  }
}

.nav-logo h4 {
  margin-bottom: 0;
  text-shadow: 2px 2px 2px var(--white);
  color: var(--black);
}
.nav-logo h4 span {
  text-shadow: 2px 1px 2px var(--black);
  color: var(--white);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.nav-links a {
  color: var(--white);
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  padding: 0.5rem;
  transition: var(--transition);
}
.nav-links a:hover {
  background: var(--primary-7);
  border-radius: var(--borderRadius);
}

/* HERO */

#hero {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.65)
    ),
    url('../assets/hero-bcg.jpg') center/cover no-repeat;
  min-height: calc(100vh - 135px);
  display: grid;
  place-items: center;
  color: var(--white);
}

#hero-center {
  display: grid;
  place-items: center;
}

.hero-info {
  padding: 2rem 1rem;
}
.hero-info h1 {
  font-size: 1.65rem;
  text-transform: capitalize;
  letter-spacing: 3px;
}
.hero-info h1 span {
  color: var(--primary-5);
}

.hero-info p {
  margin: 1rem 0 2rem;
  font-size: 1.1rem;
}
.hero-info p a {
  color: var(--white);
  text-decoration: underline;
}

.hero-btn {
  display: inline-block;
  padding: 1rem 2rem;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--primary-5);
  outline: 2px solid var(--primary-5);
  outline-offset: 5px;
  transition: all 0.3s;
}
.hero-btn:hover {
  opacity: 0.9;
}

.hero-img {
  display: none;
}

/* responsive */
@media screen and (min-width: 992px) {
  .nav-links {
    gap: 1rem;
  }

  #hero-center {
    grid-template-columns: 1fr auto;
    gap: 5rem;
    align-items: center;
  }

  .hero-info h1 {
    font-size: 3rem;
  }

  .hero-img {
    display: block;
    width: 25rem;
  }

  img {
    width: 100%;
  }

  .hero-btn {
    padding: 0.5rem 1rem;
    letter-spacing: 1px;
  }
}

/* LOGIN PAGE */
#login {
  min-height: calc(100vh - 135px);
  display: grid;
  place-items: center;
}

.form {
  background: white;
  text-align: center;
  padding: 1rem 2rem;
}
@media (max-width: 491px) {
  .form {
    padding: 1rem;
  }
}

.form-header {
  margin-bottom: 1rem;
}

.login {
  display: block;
  background: #f4f5f6;
  text-decoration: none;
  margin: 0.5rem 0;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  transition: var(--transition);
  color: var(--clr-grey);
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
}
.login:hover {
  background: #e7e8e9;
}
img {
  width: 1.2rem;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-grey-light);
}
hr {
  width: 47%;
  height: 0px;
  margin-top: -1rem;
}

.form-item {
  width: 100%;
  margin: 0.75rem 0;
  padding: 0.75rem;
  outline: none;
  border: 1px solid var(--grey-light);
  border-radius: 0.25rem;
}
.form-item:focus {
  border-color: var(--primary-5);
}
.form-item::placeholder {
  color: var(--grey-light);
}

.row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.75rem 0;
  font-size: 0.9rem;
}

.link {
  color: var(--primary-5);
  transition: var(--transition);
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.submit-btn {
  display: block;
  width: 100%;
  margin: 0.75rem 0;
  padding: 0.75rem 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--primary-5);
  color: var(--white);
  border-radius: 0.25rem;
  transition: var(--transition);
  letter-spacing: 2px;
  font-family: var(--bodyFont);
  font-size: 1rem;
}
.submit-btn:hover {
  opacity: 0.9;
}

.row-2 {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  gap: 1rem;
}

.info {
  display: none;
}

.form-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

/* REGISTER */
#register {
  min-height: calc(100vh - 135px);
  display: grid;
  place-items: center;
}

.register-form {
  text-align: left;
}
.register-form div {
  margin-bottom: 1rem;
}
.register-form div .form-item {
  margin-top: 0.25rem;
}

.register-form .radio-btns {
  margin-top: 0.25rem;
}

.register-form .radio-btns div {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.register-form .radio-btns span {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

/* TRANSACTIONS PAGE */
#transactions {
  min-height: calc(100vh - 135px);
  display: grid;
  place-items: center;
}

#transactions-center {
  text-align: center;
}

#transactions-center header {
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
}

#transactions-center header .transaction-block {
  display: block;
  padding: 3rem;
  color: var(--white);
  font-size: 2rem;
  border-radius: var(--borderRadius);
  transition: var(--transition);
}
#transactions-center header .transaction-block:hover {
  transform: scale(1.05);
}

#deposit {
  background-color: rgb(255, 136, 0);
}
#withdraw {
  background-color: black;
}
#transfer {
  background-color: rgb(75, 196, 244);
}

#transactions h2 {
  margin-bottom: 2rem;
  text-transform: capitalize;
  letter-spacing: 3px;
}

#transactions h2 span {
  color: var(--primary-5);
}

#transactions .submit-btn {
  display: block;
  width: fit-content;
  margin: 2rem auto;
  padding: 1rem 3rem;
}

/* EXTRA PAGES */
.empty-page {
  min-height: calc(100vh - 135px);
  display: grid;
  place-items: center;
}
